.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cover {

  background-color: rgba(9,9,9,0);
  position: absolute;
  display: inline-block;
  width: 21px;
  height: 20px;
  padding:2px;
  margin: 2px;
  border-radius: 5px;
  left: 2px;
  top: -2px

}

.bit-btn {
  background-color: teal;
  position: relative;
  display: inline-block;
  width: 21px;
  height: 20px;
  padding:2px;
  margin: 2px;
  border-radius: 5px;

}

#spanner {
  width: 400;
  padding: 2px;
  padding-right: 34px;



}

.inpt {
  align-content: right;
  align-items: right;
  text-align: right;
  size: 20px;
  font-size: 48px;
  font-style: code;
  font-family: monospace;
  
}
